#footer  a{
    color: black    ;
}
div#wrapperHeader {
    text-align: center;
    background-color: black ;
   }
   
   div#wrapperHeader div#image {
    align-self: center;
    height:100px;
    margin: auto;
    position: relative;
    top: 10px;
   }
   #navs{
    color:black;
   }
   #content{
    text-align: center;
   }
   #center{
    font-size: 40px;
    text-align: center;
    padding: 2  0px;
    font-family: 'Brush Script MT', cursive;
    color: #2E475D;
   }
   h6{
    text-align: center;
    color: black;
   }
   div#wrapperFooter div#imageFooter{
    align-self: center;
    background-color: white;
   }
   #tutube{
    text-align: center;
    align-self: center;
   }