#footer  a{
    color: black    ;
}
div#wrapperHeader {
    text-align: center;
    background-color: black ;
   }
   
   div#wrapperHeader div#image {
    align-self: center;
    height:100px;
    margin: auto;
    position: relative;
    top: 10px;
   }
   #navs{
    color:black;
   }
   #content{
    text-align: center;
   }
   #phrase{
    font-size: large;
   }